html,body {height: 100%;}
body {
	display: flex;
	flex-direction: column;
	font-size: 0.24rem;
}
/* 顶部部分 */
.header {
	height: 0.88rem;
	width: 100%;
	flex-shrink: 0;
	display: flex;
	border-bottom: 1px solid #e5e5e5;
	background-color: #e43130;
}
.header-left {
	width: 0.88rem;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-left>span {
	width: 0.4rem;
	height: 0.36rem;
	background-color: transparent;
	background-image: url(../images/header/header-logo.png);
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
.header-body {
	flex-grow: 1;
	border-radius: 0.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	margin: 0.14rem 0;
	position: relative;
}
.header-body>i.JD {
	width: 0.4rem;
	height: 0.3rem;
	margin-left: 0.1rem;
	flex-shrink: 0;
	background-image: url(../images/header/header-Jd.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}
.header-body>i.JD:after {
	content: '';
	display: block;
	width: 0.02rem;
	height: 0.3rem;
	background-color: #e5e5e5;
	position: absolute;
	left: 0.6rem;
	
}
.header-body>i.search {
	margin-left: 0.3rem;
	width: 0.4rem;
	height: 0.3rem;
	flex-shrink: 0;
	background-image: url(../images/header/jd-sprites.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: -330rem 0;
}
.header-body>input {
	flex-grow: 1;
	outline: none;
	border: none;
	border-radius: 0.3rem;
	height: 100%;
	font-size: 0.24rem;
}

.header-right {
	flex-shrink: 0;
	width: 0.88rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-right>span {
	padding: 0.2rem 0;
	font-size: 0.28rem;
	color: white;
	font-weight: 400;
}
/* 中间内容 */
.content {
	flex-grow: 1;
	overflow: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.content>div.banner-wrapper {
	width: 100%;
	height: 4.6rem;
	flex-shrink: 0;
}
.content>div.banner-wrapper>ul>li {
	
}
.content div.banner-wrapper>div.swipper-pagination {
	margin-bottom: 0.7rem important; 
}
.content>div.banner-wrapper>ul>li>a {
	display: block;
	position: relative;
	width: 100%;
	padding-top: 48.8%;
}
.content>div.banner-wrapper>ul>li>a>img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
div.nav-main {
	position: relative;
	z-index: 3;
	margin-top: -0.7rem;
	border-radius: 0.25rem 0.25rem 0 0;
	background-color: white;
}
div.nav-sub {}
div.nav-thr {}
div.nav {}
ul.nav-banner {
	width: 100%;
	height: 4.68rem;
}
ul.nav-banner>li {
	float: left;
	width: 20%;
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
ul.nav-banner>li>a {
	width: 2rem;
	margin-top: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul.nav-banner>li>a>img {}
ul.nav-banner>li>span {
	margin-top: 0.15rem;
	font-size: 0.3rem;
	color: #000000;
}
div.swiper-pg2 {
	bottom: -0.07rem !important;
}
/* 下面活动的内容 */
div.activity {
	margin-top: 0.3rem;
	width: 100%;
	padding-top: 30.666667%;
	position: relative;
}
div.activity>img {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
div.activity-time {
	width: 100%;
	padding-top: 10.4%;
	position: relative;
}
div.activity-time>img {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
div.recommended {
	width: 100%;
	padding-top: 9.333333%;
	position: relative;
}
div.recommended>img {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
div.recommended-list {
	background-color: #641000;
}
div.recommended-list>ul {
	display: flex;
	margin: 0 0.5rem;
	justify-content: space-between;
}
div.recommended-list>ul>li {
	/* flex-grow: 1; */
	width: 100%;
	padding-top: 34.57142857%;
	position: relative;
}
div.recommended-list>ul>li>img {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
div.recommended-list>ul>li>div.main-wrapper{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-79%);
	width: 73%;
	padding-top: 73%;
	border: 0.02rem solid #ccc;
}
div.recommended-list>ul>li>div.main-wrapper>img {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
div.recommended-list>ul>li>div.sub-wrapper {
	position: absolute;
	left: 5%;
	top: 70%;
	width: 90%;
	height: 30%;
	display: flex;
	flex-direction: column;
}
div.recommended-list>ul>li>div.sub-wrapper>span {
	width: 100%;
	height: 50%;
	text-align: center;
	display: flex;
	color: #fff;
	justify-content: center;
	flex-shrink: 0;
}
div.recommended-list>ul>li>div.sub-wrapper>span:first-child {
	font-weight: bold;
}
div.recommended-list>ul>li>div.sub-wrapper>span:last-child {
}
/*内容里面的footer */
div.content-footer {
	border-top: 0.02rem solid #ccc;
	padding-bottom: 1.08rem;
	padding-top: 0.1rem;
}
div.content-footer>div:first-child {
	border-bottom:  0.02rem solid #e5e5e5;
	border-top: 0.02rem solid #e5e5e5;
	padding: 0.5rem 0.2rem;
}
div.content-footer>div:first-child>ul {
	display: flex;
}
div.content-footer>div:first-child>ul>li {
	flex-grow: 1;
	padding: 0.2rem 0.1rem;
	font-size: 0.32rem;
	position: relative;
	box-sizing: border-box;
	text-align: center;
	color: #848689;
}
div.content-footer>div:first-child>ul>li:not(:last-child):after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 15%;
	width: 0.02rem;
	height: 70%;
	background-color: #d7d7d7;
}
div.content-footer>div:nth-child(2) {
	border-bottom: 0.02rem solid #e5e5e5;
	padding: 0.2rem 0.1rem;
}
div.content-footer>div:nth-child(2)>ul {
	display: flex;
	align-items: center;
}
div.content-footer>div:nth-child(2)>ul>li {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
div.content-footer>p {
	padding: 0.2rem 0.1rem;
	color: #848689;
	font-size: 0.24rem;
	text-align: center;
}
/* 导航菜单栏 */

/* 底部部分 */
.footer {
	width: 100%;
	height: 1.24rem;
	flex-shrink: 0;
	border-top: 0.02rem solid #e5e5e5;
	box-sizing: border-box;
}
.footer>ul {
	display: flex;
	height: 100%;
	width: 100%;
}
.footer>ul>li {
	flex-basis: 0;
	flex-grow: 1; 
	flex-shrink: 0;
	display: flex;
	justify-content: center;
}
.footer>ul>li>a {
	flex-shrink: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}
.footer>ul>li:nth-child(1)>a {
	background-image: url(../images/footer/1.1.png);
}
.footer>ul>li:nth-child(1)>a.active {
	background-image: url(../images/footer/1.png);
}
.footer>ul>li:nth-child(2)>a {
	background-image: url(../images/footer/2.png);
}
.footer>ul>li:nth-child(2)>a.active {
	background-image: url(../images/footer/2.2.png);
}
.footer>ul>li:nth-child(3)>a {
	background-image: url(../images/footer/3.png);
}
.footer>ul>li:nth-child(4)>a {
	background-image: url(../images/footer/4.png);
}
.footer>ul>li:nth-child(5)>a {
	background-image: url(../images/footer/5.png);
}
.footer>ul>li:nth-child(5)>a.logins {
	background-image: url(../images/my.png);
}
